.nav {
    background-color: #002e4d;
}

.nav-item {
    font-family: Kristen ITC;
    color: pink !important;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
}

.nav-link {
    color: white !important;
    font-family: Arial;
    font-weight: bold;
    margin: 11px 5px;
    text-align: right;
}

p {
    margin-top: 50px;
    margin-left: 30px;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
}

.loginBtn{
    color: white !important;
    background-color: #002e4d;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    margin: 25px 5px;
    position: absolute;
    right: 10px;
}

.registBtn{
    color: white !important;
    background-color: #002e4d;
    border: 1px solid white;
    border-radius: 5px;
    font-weight: bold;
    margin: 25px 5px;
    position: absolute;
    left: 200px;
}